body {
  font-family: "Plus Jakarta Sans", sans-serif;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.glass-panel {
  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(16px);

  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.5);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}

.dark .glass-panel {
  background: rgba(30, 40, 46, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.05);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.chart-glow {
  filter: drop-shadow(0 0 8px rgba(202, 228, 241, 0.6));
}
