/* Custom scrollbar for the diary panel if needed */

.diary-scroll::-webkit-scrollbar {
  width: 6px;
}

.diary-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.diary-scroll::-webkit-scrollbar-thumb {
  background-color: #e9eff1;

  border-radius: 20px;
}
