/* Custom scrollbar for horizontal preview */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(12px);

  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.5);
}

.mood-radio:checked + div {
  background-color: #2badee;

  color: white;

  border-color: #2badee;
}
