body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.masonry-grid {
  column-count: 1;

  column-gap: 1.5rem;
}

@media (min-width: 640px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 3;
  }
}

.masonry-item {
  break-inside: avoid;

  margin-bottom: 1.5rem;
}
